{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% include 'components/_header.html.twig' %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <div class="forgot-wrapper">
        <div class="forgot-card">
            <h1 class="forgot-title">Mot de passe oublié</h1>

            <p class="forgot-text">
                Entrez votre adresse email pour recevoir un lien de réinitialisation.
            </p>

            <form method="post" class="form-grid">
                <div class="full">
                    <label for="email">Adresse email</label>
                    <input id="email" name="email" type="email" required>
                </div>

                <div class="actions full" style="justify-content: space-between;">
                    <a href="{{ path('app_login') }}" class="action-link">Retour à la connexion</a>

                    <button class="btn btn-primary btn-lg" type="submit">
                        Envoyer le lien
                    </button>
                </div>
            </form>
        </div>
        <p>
            <a href="{{ path('app_login') }}">Retour à la connexion</a>
        </p>
    </div>
    {% include 'components/_footer.html.twig' %}


{% endblock %}
