{% extends '/base.html.twig' %}

{% block title %}Création d'une chasse{% endblock %}

{% block body %}
    <link href="{{ asset('styles/createHunt.css') }}" rel="stylesheet">
    <div class="creation_puzzle d-flex flex-column align-items-center vh-100">

        <!-- HEADER -->
        <div class="creation_puzzle_header vw-100 d-flex justify-content-between align-items-center p-3" style="background-color: rgba(255,255,255,0.8);">
            <button class="btn btn-outline-danger" onclick="window.history.back()">Annuler</button>
            <h2 class="text-center mb-0 flex-grow-1" style="font-weight: bold;">Créer une chasse</h2>
            <button class="btn btn-success" type="submit" form="creationForm">Enregistrer</button>
        </div>

        <!-- Main -->
        <div class="main">
        <!-- Add image -->
            <script src="{{ asset('js/imagePreview.js') }}"></script>
            <input id="upload-input" type="file" accept="image/*">
            <div id="preview"></div>


            <div class="form-container">
            <!-- Titre -->
            <div class="form-group">
                <p>Title</p>
                <input type="text" name="title" class="title-input" maxlength="30" placeholder="Entrez le titre">
            </div>

            <!-- Description -->
            <div class="form-group">
                <p>Description</p>
                <textarea name="description" class="description-input" maxlength="500" placeholder="Entrez la description"></textarea>
            </div>

            <!-- Type de chasse -->
            <div class="form-group">
                <p>Type de chasse</p>
                <select name="hunt_type">
                    <option value="solo">Solo</option>
                    <option value="team">Team</option>
                </select>
            </div>
        </div>




        <!-- Questions -->
        <div class="questions-container">
            <div class="question-card">
                <div class="question-image">
                    <img src="{{ asset('images/Image_PlaceHolder.png') }}" alt="Question Image">
                </div>
                <div class="question-info">
                    <h4>Question 1</h4>
                    <p>2+2</p>
                </div>
            </div>

            <div class="question-card">
                <div class="question-image">
                    <img src="{{ asset('images/Image_PlaceHolder.png') }}" alt="Question Image">
                </div>
                <div class="question-info">
                    <h4>Question 2</h4>
                    <p>3+5</p>
                </div>
            </div>
        </div>

        </div>



    </div>
{% endblock %}
