{% extends 'base.html.twig' %}

{% block title %}Création d'une chasse{% endblock %}

{% block body %}
<div class="creation_puzzle d-flex flex-column align-items-center justify-content-center vh-100">
    <form class="creation_puzzle_form d-flex flex-column align-items-center justify-content-center vw-100" method="POST" action="/creation/hunt">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="puzzle_media" accept="image/*,video/*,audio/*">
                <label class="custom-file-label" for="puzzle_media">Ajouter un média</label>
            </div>
        </div>
        <input type="file" >
        <label for="puzzle_question">Question</label>
        <input type="text" id="puzzle_question" placeholder="Appuie pour ajouter une question" required>
        <label for="puzzle_answer">Réponse</label>
        <input type="text" id="puzzle_answer" placeholder="Appuie pour écrire la bonne réponse" required>
        <input type="submit">
    </form>
</div>
{% endblock %}
