html, body {
    background-color: #FDF5E6;
    color: #01161E;
    font-family: 'Montserrat', sans-serif;
}

/* Puzzle creation page styles */

.creation_puzzle_main_form > input, .creation_puzzle_main_form > .input-group {
    background-color: lightgrey;
    border-radius: 15px;
    text-align: center;
    width: 75%;
}

#puzzle_media {
    height: 30vh;
}

#puzzle_question, #puzzle_answer {
    background-color: lightgrey;
    text-align: center;
    border: none;
}

#puzzle_answer {
    height: 20vh;
}

@media (min-width:450px) {
    .creation_puzzle_main_form > input,
    .creation_puzzle_main_form > .input-group,
    .creation_puzzle_main {
        width: 400px;
    }
}

p {
    text-align: justify;
}