<nav class="navbar fixed-bottom border border-dark p-0 footer__navbar">
    <div class="container-fluid d-flex p-0">

        <a href="#" class="nav-link d-flex flex-column align-items-center justify-content-center text-dark nav-item-footer border-end border-dark">
            <i class="bi bi-house-fill fs-1"></i>
            <small class="nav-label">Accueil</small>
        </a>

        <a href="#" class="nav-link d-flex flex-column align-items-center justify-content-center text-dark nav-item-footer border-end border-dark">
            <i class="bi bi-compass-fill fs-1"></i>
            <small class="nav-label">Découverte</small>
        </a>

        <a href="#" class="nav-link d-flex flex-column align-items-center justify-content-center text-dark nav-item-footer border-end border-dark">
            <img src="{{ asset('images/PuzzlePieceRotated.png') }}" alt="Rejoindre" width="45" height="45" />
            <small class="nav-label">Rejoindre</small>
        </a>

        <a href="#" class="nav-link d-flex flex-column align-items-center justify-content-center text-dark nav-item-footer border-end border-dark">
            <i class="bi bi-plus-square-fill fs-1"></i>
            <small class="nav-label">Création</small>
        </a>

        <a href="#" class="nav-link d-flex flex-column align-items-center justify-content-center text-dark nav-item-footer">
            <i class="bi bi-grid-fill fs-1"></i>
            <small class="nav-label">Bibliothèque</small>
        </a>

    </div>
</nav>
