.puzzle_media_div {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
}

.custom-file-input {
    display: none;
}

.file-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    width: 64px;
    height: 180px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    padding: 10px;
    overflow: hidden;
}

.file-upload-label:hover {
    background-color: #B3B3B3;
}

.icon-container {
    margin-bottom: 10px;
}

.preview-wrapper {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 0 auto 10px;
}

.preview-image {
    width: 64px;
    height: 64px;
    object-fit: cover;
}
