.creation_puzzle_main_form > .input-group {
    background-color: lightgrey;
    border-radius: 15px;
    text-align: center;
    width: 75%;
}

#puzzle_media {
    height: 30vh;
}

#puzzle_question, #puzzle_answer, #puzzle_answers {
    background-color: lightgrey;
    text-align: center;
    border: none;
}

#puzzle_answer {
    height: 20vh;
}

@media (min-width:450px) {
    .creation_puzzle_main_form > input,
    .creation_puzzle_main_form > .input-group,
    .creation_puzzle_main {
        width: 400px;
    }
}

p {
    text-align: justify;
}