{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/avatarUpload.css') }}">
{% endblock %}

<script src="{{ asset('js/avatarPreview.js') }}" defer></script>

<div class="puzzle_media_div">
    <label class="file-upload-label" id="upload-label">
        <div class="preview-wrapper" id="preview-wrapper">
            <img id="preview-image" class="preview-image" src="#" alt="Preview" style="display:none;">

            <div class="icon-container" id="icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" color="01161E" viewBox="0 0 24 24">
                    <path d="M21 19V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2zM5 5h14v14H5V5zm4 8l2.5 3 3-4 4 5H5l4-4z"/>
                </svg>
            </div>
        </div>

        <div class="text">Ajoute une photo de profil</div>
    </label>

    {{ form_widget(field, {
        id: 'upload-input',
        attr: {
            accept: 'image/*',
            class: 'custom-file-input',
        },
    }) }}

    {{ form_errors(field) }}
</div>
