{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/imgUpload.css') }}">
{% endblock %}

<!-- Media Upload -->

<script src="{{ asset('js/imagePreview.js') }}"></script>
<div class="puzzle_media_div">
    <label for="upload-input" class="file-upload-label" id="upload-label">
        <div class="icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" color="01161E" viewBox="0 0 24 24">
                <path d="M21 19V5a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2zM5 5h14v14H5V5zm4 8l2.5 3 3-4 4 5H5l4-4z"/>
            </svg>
        </div>
        <div class="text">Ajoute une image de couverture</div>
    </label>
    <input type="file" id="upload-input" accept="image/*" class="custom-file-input">
</div>
