<div class="question-card">
    <div class="question-image">
        <img src="{{ asset('images/Image_PlaceHolder.png') }}" alt="Question Image">
    </div>
    <div class="question-info">
        <h4>Question 2</h4>
        <p>3+5</p>
    </div>
</div>
