<h1 class="mb-4">Création d'une énigme - Quiz</h1>
<div class="puzzle_main">
    <form class="puzzle_main_form d-flex flex-column align-items-center justify-content-center" method="POST" action="/temp">
        {{ include('components/_imageUpload.html.twig') }}
        <div class="input-group mb-4">
            <input id="puzzle_question" type="text" class="form-control" placeholder="Appuie pour ajouter la question" aria-label="Question" required>
        </div>
        <div class="input-group mb-4">
            <textarea id="puzzle_answer" class="puzzle_answer puzzle_answer_txt form-control" aria-label="With textarea" placeholder="Appuie pour écrire la bonne réponse" required></textarea>
        </div>
        <input type="submit" class="btn btn-primary mb-3" value="Enregistrer l'énigme">
    </form>
    <p class="creation_puzzle_main_text">
        La réponse de l'utilisateur sera vérifiée par une IA afin d'éviter une mauvaise interprétation due à des fautes
        d'orthographe ou à l'utilisation de synonymes.
    </p>
</div>
