{% extends 'base.html.twig' %}

{% block title %}Création d'une énigme{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/puzzle/create.css') }}">
{% endblock %}


{% block body %}
<div class="creation_puzzle d-flex flex-column align-items-center vh-100">
    <div class="puzzle_top d-flex flex-row justify-content-between mb-5">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Type d'énigme</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option value="txt">Texte</option>
                <option value="mcq" selected>QCM</option>
                <option value="qrc">Code QR</option>
                <option value="gps">Point GPS</option>
            </select>
        </div>
    </div>
    {% include 'creation/puzzle/_form_mcq.html.twig' %}
</div>
{% endblock %}
